[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tabulate = "*"  # For pretty table output in CLI
bcrypt = "*"  # For password hashing

[dev-packages]
black = "*"  # For code formatting
flake8 = "*"  # For linting

[requires]
python_version = "3.9"